@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffff;
}

.leaflet-container {
  width: 100vw;
  height: 60vh;
}
@media only screen and (max-width: 768px) {
  .leaflet-container {
    width: 100vw;
    height: 35vh;
  }
}
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
